on:
  workflow_call:
    inputs:
      repo_name:
        required: true
        type: string
    secrets:
      ssh_private_key:
        required: true

jobs:
  mirror:
    name: mirror
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: pixta-dev/repository-mirroring-action@v1
      with:
        target_repo_url:
          ${{ format('git@github.ibm.com:{0}/{1}.git', 'skills-network-mirror', inputs.repo_name) }}
        ssh_private_key:
          ${{ secrets.ssh_private_key }}
    - run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.ssh_private_key }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        export GIT_SSH_COMMAND="ssh -v -i ~/.ssh/id_rsa -o StrictHostKeyChecking=no -o IdentitiesOnly=yes"
        git config --global user.email "mirror@skills.network"
        git config --global user.name "Skills Network Mirror"

        mkdir -p ../fixmirror
        cd ../fixmirror
        git clone "${{ format('git@github.ibm.com:{0}/{1}.git', 'skills-network-mirror', inputs.repo_name) }}"
        cd "${{ inputs.repo_name }}"

        echo "base64 decoding .whitesource file..."

        openssl base64 -d <<<   'ewogICJzY2FuU2V0dGluZ3MiOiB7CiAgICAiY29uZmlnTW9kZSI6ICJMT0NBTCIsCiAgICAiY29uZmlnRXh0ZXJuYWxVUkwiOiAiIiwKICAgICJwcm9qZWN0VG9rZW4iOiAiIiwKICAgICJiYXNlQnJhbmNoZXMiOiBbXQogIH0sCiAgImNoZWNrUnVuU2V0dGluZ3MiOiB7CiAgICAidnVsbmVyYWJsZUNoZWNrUnVuQ29uY2x1c2lvbkxldmVsIjogImZhaWx1cmUiLAogICAgImRpc3BsYXlNb2RlIjogImRpZmYiCiAgfSwKICAiaXNzdWVTZXR0aW5ncyI6IHsKICAgICJtaW5TZXZlcml0eUxldmVsIjogIkxPVyIKICB9LAogICJyZW1lZGlhdGVTZXR0aW5ncyI6IHsKICAgICJlbmFibGVSZW5vdmF0ZSI6IHRydWUsCiAgICAidHJhbnNpdGl2ZVJlbWVkaWF0aW9uIjogdHJ1ZQogIH0KfQoK' 
        openssl base64 -d <<<   'ewogICJzY2FuU2V0dGluZ3MiOiB7CiAgICAiY29uZmlnTW9kZSI6ICJMT0NBTCIsCiAgICAiY29uZmlnRXh0ZXJuYWxVUkwiOiAiIiwKICAgICJwcm9qZWN0VG9rZW4iOiAiIiwKICAgICJiYXNlQnJhbmNoZXMiOiBbXQogIH0sCiAgImNoZWNrUnVuU2V0dGluZ3MiOiB7CiAgICAidnVsbmVyYWJsZUNoZWNrUnVuQ29uY2x1c2lvbkxldmVsIjogImZhaWx1cmUiLAogICAgImRpc3BsYXlNb2RlIjogImRpZmYiCiAgfSwKICAiaXNzdWVTZXR0aW5ncyI6IHsKICAgICJtaW5TZXZlcml0eUxldmVsIjogIkxPVyIKICB9LAogICJyZW1lZGlhdGVTZXR0aW5ncyI6IHsKICAgICJlbmFibGVSZW5vdmF0ZSI6IHRydWUsCiAgICAidHJhbnNpdGl2ZVJlbWVkaWF0aW9uIjogdHJ1ZQogIH0KfQoK' > .whitesource
        
        echo "base64 decoding whitesource.config file..."
        openssl base64 -d <<<   'bnBtLmluY2x1ZGVEZXZEZXBlbmRlbmNpZXM9ZmFsc2U=' 
        openssl base64 -d <<<   'bnBtLmluY2x1ZGVEZXZEZXBlbmRlbmNpZXM9ZmFsc2U=' > whitesource.config

        git add .whitesource whitesource.config
        git commit -m "use GHE .whitesource and whitesource.config"
        git push
