on:
  workflow_call:
    inputs:
      image:
        description: "Full docker image location. e.g. us.icr.io/skills-network-portals/curator"
        required: true
        type: string
      scan_image_enabled:
        description: "Set to true to scan your container image for vulnerabilities before pushing it to ICR"
        required: false
        type: boolean
        default: true
      scan_fail_if_overdue:
        description: "Set to true to prevent images with overdue vulnerabilities from being pushed to ICR"
        required: false
        type: boolean
        default: true
      docker_target:
        description: "Build target for multi-stage docker build"
        default: "monkey-patched"
        required: false
        type: string
      docker_context:
        description: "Build context directory"
        default: "."
        required: false
        type: string
      docker_file:
        description: "Path to the Dockerfile"
        default: ""
        required: false
        type: string
      docker_secrets:
        description: "List of secrets to expose to the build (e.g., key=string, GIT_AUTH_TOKEN=mytoken)"
        required: false
        type: string
      push:
        description: "Should the docker image be pushed to ICR"
        default: ${{ github.event_name == 'workflow_dispatch' || github.event_name == 'schedule' || startsWith(github.ref, 'refs/tags/') }}
        required: false
        type: boolean
      maximize_free_space:
        description: "Set to true to maximize space on github workflow runners"
        required: false
        type: boolean
        default: false
    secrets:
      GH_TOKEN:
        required: false
      OBAN_KEY_FINGERPRINT:
        required: false
      OBAN_LICENSE_KEY:
        required: false
      ICR_USERNAME:
        required: false
      ICR_PASSWORD:
        required: false
      NPM_TOKEN:
        required: false
      TRAVIS_API_TOKEN:
        required: false
      CONTAINER_IMAGE_SCAN_RESULT_COS_API_KEY:
        required: false

jobs:
  build:
    name: docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check if tag is a non-production release (e.g. 1.2.3-dev.0, 1.2.3-rc.0)
        id: check-ref
        run: |
          if [[ "${{ github.ref_name }}" =~ [a-zA-Z] ]]; then
            echo "has_alpha=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_alpha=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Maximize free space on runner
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 40960
          remove-dotnet: true
          remove-android: true
          remove-haskell: true
          remove-codeql: true
          remove-docker-images: true # just removes cached images
        if: ${{ inputs.maximize_free_space }}

      - name: Get latest release tag
        id: latest-release
        uses: fangqiuming/latest-release-version@v1.1.1
        with:
          repository: ${{ github.repository }}
          token: ${{ github.token }}
        if: ${{ github.event_name == 'schedule' }}

        # base release is the release without any security patch suffix
        # base release of x.y.z is x.y.z
        # base release is x.y.z-YYYYMMDD is x.y.z
      - name: Get base release tag
        id: base-release
        run: |
          echo "base-release=$(echo '${{ steps.latest-release.outputs.tag_name }}' | sed -r 's/(-[0-9]{8})$//')" >> $GITHUB_OUTPUT

      - name: print release tag
        run: |
          echo "${{ steps.base-release.outputs.base-release }}"
        if: ${{ github.event_name == 'schedule' }}

      # If this is a scheduled (nightly) build use latest release tag
      # Otherwise use referenced/default branch/tag
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: recursive
          ref: ${{ steps.latest-release.outputs.latest-release }}
        if: ${{ github.event_name == 'schedule' }}
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN || secrets.GITHUB_TOKEN }}
          submodules: recursive
        if: ${{ github.event_name != 'schedule' }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Global ICR
        uses: docker/login-action@v3
        with:
          registry: icr.io
          # These are organization-wide secrets,
          # so you don't need to configure them on your own
          username: ${{ secrets.ICR_USERNAME }}
          password: ${{ secrets.ICR_PASSWORD }}
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ inputs.image }}
          # Info: https://github.com/docker/metadata-action#tags-input
          #   - Tag for semantically versioned releases
          #   - Nightly tag ('<latest tag>-YYYYMMDD')
          #   - Manual tag (trigger from Github UI)
          tags: |
            type=semver,pattern={{version}}
            type=schedule,pattern=${{ steps.base-release.outputs.base-release }}-{{date 'YYYYMMDD'}}
            type=raw,value=manual,suffix=${{ github.event.inputs.suffix }},enable=${{ github.event_name == 'workflow_dispatch' }}

      - name: Should we cache
        id: should-cache
        run: |
          if [[ $(date +%a) == 'Sun' ]]; then
            echo "cache-from=" >> $GITHUB_OUTPUT
            echo "cache-to=" >> $GITHUB_OUTPUT
          else
            # disable caching on all days until we confirm our "Requires Manual Intervention"
            # issues aren't due to caching issues
            echo "cache-from=" >> $GITHUB_OUTPUT
            echo "cache-to=" >> $GITHUB_OUTPUT
            # echo "cache-to=type=gha" >> $GITHUB_OUTPUT
            # echo "cache-to=type=gha,mode=max" >> $GITHUB_OUTPUT
          fi

      # - name: Build and push image to scan
      #   if: ${{ inputs.scan_image_enabled && ( github.ref_type != 'tag' || steps.check-ref.outputs.has_alpha == 'false' ) }}
      #   uses: docker/build-push-action@v5
      #   with:
      #     # If your Dockerfile is not present in the root directory
      #     # change it to the correct subdirectory name
      #     context: ${{ inputs.docker_context }}
      #     file: ${{ inputs.docker_file }}
      #     target: ${{ inputs.docker_target }}
      #     push: true
      #     tags: ${{ inputs.image }}:scan-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}
      #     outputs: type=oci
      #     labels: ${{ steps.meta.outputs.labels }}
      #     cache-from: ${{ steps.should-cache.outputs.cache-from }}
      #     cache-to: ${{ steps.should-cache.outputs.cache-to }}
      #     secrets: |
      #       "oban_key_fingerprint=${{ secrets.OBAN_KEY_FINGERPRINT }}"
      #       "oban_license_key=${{ secrets.OBAN_LICENSE_KEY }}"
      #       "IBM_CLOUD_API_KEY=${{ secrets.IBM_CLOUD_API_KEY }}"
      #       ${{ inputs.docker_secrets }}
      #     build-args: |-
      #       SN_GITHUB_NPM_TOKEN=${{ secrets.NPM_TOKEN }}
      #       SN_GITHUB_NPM_REGISTRY=https://npm.pkg.github.com
      #
      # - name: Scan image
      #   if: ${{ inputs.scan_image_enabled && ( github.ref_type != 'tag' || steps.check-ref.outputs.has_alpha == 'false' ) }}
      #   uses: ibm-skills-network/action-scan-container-image@main
      #   with:
      #     image: ${{ inputs.image }}:scan-${{ github.sha }}-${{ github.run_id }}-${{ github.run_attempt }}
      #     travis_api_token: ${{ secrets.TRAVIS_API_TOKEN }}
      #     image_scan_result_cos_api_token: ${{ secrets.CONTAINER_IMAGE_SCAN_RESULT_COS_API_KEY }}
      #     fail_if_overdue: ${{ inputs.scan_fail_if_overdue }}

      - name: Build Image
        id: build-image
        uses: docker/build-push-action@v5
        with:
          # If your Dockerfile is not present in the root directory
          # change it to the correct subdirectory name
          context: ${{ inputs.docker_context }}
          file: ${{ inputs.docker_file }}
          target: ${{ inputs.docker_target }}
          # push: ${{ inputs.push }}
          push: false
          # tags: ${{ steps.meta.outputs.tags }}
          # TODO: confirm all these things still included
          outputs: type=oci,dest=./image.oci,tar=false
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: ${{ steps.should-cache.outputs.cache-from }}
          cache-to: ${{ steps.should-cache.outputs.cache-to }}
          secrets: |
            "oban_key_fingerprint=${{ secrets.OBAN_KEY_FINGERPRINT }}"
            "oban_license_key=${{ secrets.OBAN_LICENSE_KEY }}"
            "IBM_CLOUD_API_KEY=${{ secrets.IBM_CLOUD_API_KEY }}"
            ${{ inputs.docker_secrets }}
          build-args: |-
            SN_GITHUB_NPM_TOKEN=${{ secrets.NPM_TOKEN }}
            SN_GITHUB_NPM_REGISTRY=https://npm.pkg.github.com

      - name: Install Skopeo
        run: sudo apt-get update && sudo apt-get install -y skopeo

      - name: Load OCI Image with Skopeo
        run: skopeo copy oci:./image.oci docker-daemon:${{ steps.meta.outputs.tags }}

      - name: Push Image
        id: push-image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - uses: anchore/sbom-action@v0
        if: ${{ inputs.push }}
        with:
          image: ${{ inputs.image }}@${{ steps.push-image.outputs.digest }}

      - uses: sigstore/cosign-installer@main
        if: ${{ inputs.push }}

      - name: Write signing key to disk
        if: ${{ inputs.push }}
        run: echo "${{ secrets.CONTAINER_IMAGE_SIGNING_PRIVATE_KEY }}" > cosign.key

      - name: Sign container image
        if: ${{ inputs.push }}
        run: |
          cosign sign --upload-tlog=false --key cosign.key \
            -a "repo=${{ github.repository }}" \
            -a "workflow=${{ github.workflow }}" \
            -a "ref=${{ github.sha }}" \
            ${{ inputs.image }}@${{ steps.push-image.outputs.digest }}
        env:
          COSIGN_PASSWORD: ${{ secrets.CONTAINER_IMAGE_SIGNING_PASSWORD }}

      - name: Sign container image attestations
        if: ${{ inputs.push }}
        run: |
          cosign attest \
            --key cosign.key \
            --type spdx --predicate sbom.spdx.json \
            ${{ inputs.image }}@${{ steps.push-image.outputs.digest }}

        env:
          COSIGN_PASSWORD: ${{ secrets.CONTAINER_IMAGE_SIGNING_PASSWORD }}
